@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --menu_color: #DDE2FF;
    --icon_color: #DFE0EB;
    --main_title_color:#9FA2B4;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
    --border-radus:5px;
}
/* Variable end */


.main-header {
    margin-left: 30px;
    margin-right: 30px;
}

.main-header .main-nav button{
    color: var(--menu_color);
}

.main-contents {
    background-color: var(--icon_color);
    color: #202027;
    display: flex;
    flex-direction: column;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
/* Body */
.main-contents .main {
    flex: 1;
    display: flex;
}

/* Menu */
.main-contents .main .menu {
    flex-shrink: 0;
    background-color: #202027;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
/* Menu title */
.menu .menu_title {
    font-size: 22px;
    color: var(--menu_color);
    text-align: center;
    line-height: 70px;
    background: #1761a783;
}
.menu ul a {
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    color: var(--menu_color);
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: .4s;
}
.menu ul li {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 2555, 255, .1);
    border-bottom: 1px solid black;
    cursor: pointer;
}
.menu ul li:hover a {
    padding-left: 30px;
}
.menu ul .active {
    background-color: rgba(102, 102, 102, 0.26);
}
.menu ul li i img {
    height: 36px;
    width: auto;
}
/* Menu End */


/* Contents */
.center_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.center_box .title {
    margin: 0;
    padding: 15px;
    font-size: 36px;
    font-weight: bold;
    font-family: poppin;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*

/* Contents box */
.center_box .container {
    display: flex;
    gap: 20px;
    padding: 0;
}

.form_container {
    display: flex;
    gap: 30px;
}

/* Forms and Tables */

/* Rigister forms */
.form_container .form{
    background-color: #fff;
    border-radius: var(--border-radus);
    border: 1px solid #eee;
    min-height: 300px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.form_container .form h3{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    padding: 8px;
}

.form .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.form .form-content .input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 5px;
}

.form .form-content .input-group label {
    margin-bottom: .6rem;
}
.form .form-content .input-group label span{
    color: #BC3A80;
    margin-right: 3px;
}

.form .form-content .input-group .inputfield {
    outline: none;
    background: none;
    border: 1px solid #20202734;
    font-size: 1rem;
    color: #2f303a;
    padding: .53em;
    border-radius: 5px;
}
.form .form-content .input-group .inputfield:focus {
    border-color: #000;
}
div.btn-group {
    margin: 20px auto;
}

#btn {
    color: #2f303a;
    background-color: #61b1dc48;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border-radius: .6rem;
    font-weight: 900;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 1px 2px #20202755;
    width: 400px;
}
#btn:hover {
    background-color: #caebffd0;
}
#btn:focus {
    background-color: #CAEBFF;
}
/* Register form end */

/* Table */
div .table_result {
    height: 193px;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    border-radius: 12px 12px 0 0; 
}
div .hide {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}
div .show {
    transform: scale(1);
    transition: 900ms ease-in-out;
    visibility: visible;
    opacity: 1;
}
/* div .showStudent {
    transform: scale(1);
    transition: 900ms ease-in-out;
    visibility: visible;
    opacity: 1;
} */

/* Tbale result */
div .table_result h3 {
    padding: 10px;
    margin:0px;
    font-weight: 900;
    font-size: 18px;
}
div .table_result table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
div .table_result table th {
    background-color: #2f303a;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-family: poppin, sans-serif;
}
div .table_result table th, td {
    padding: 5px 12px;
    width: 100%;
}
div .table_result table td {
    font-family: sans-serif;
    font-size: 17px;
}
div .table_result table tr:nth-child(odd) {
    background-color: #eee;
}
/* Table wrapper */




/* Footer */
.footer p {
    font-family: poppin;
    background-color: #202027;
    color: var(--menu_color);
    height: 100px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    bottom: 0;
}
/* Footer End  */

/* Resposiveness */
