/* Pop up form */
.form {
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -65%) scale(0);
    transition: 500ms ease-in-out;
    max-width: 80%;
    z-index: 20;
}
.form.active {
    transform: translate(-25%, -65%) scale(1);
}
/* Link Massege  */
#login-form .login-register-text, p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #2F303A;
}

#login-form .login-register-text p, a {
    margin-left: 3px;
    font-size: 15px;
    text-decoration: none;
    color: #1762A7;
    text-decoration: underline;
}
/* End  */

#login-form {
    border: 1px solid black;
    width: 70vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 5px;
    background-color: #F7F8FC;
    position: relative;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .6rem;
    color: #2F303A;
}

.inputfield {
    outline: none;
    background: none;
    border: 1px solid #20202755;
    font-size: 1rem;
    color: #2F303A;
    padding: .53em;
    border-radius: 5px;
}
.input-group .inputfield.pwd {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1ch;
}
.inputfield:focus {
    border-color: #000;
}

#btn {
    color: #2F303A;
    text-decoration: none;
    background-color: #EEF6FB;
    padding: .75rem 1.5rem;  
    border-radius: .6rem;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px #20202755;
}
/* Pop up form end */

/*  Close button */
.form .time-circle {
    width: 30px;
    height: 30px;
    background-color:#F7F8FC;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);;
}

.form .close-btn {
    cursor: pointer;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #2F303A;
    text-align: center;
}

/* Form close btn end  */
#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



@media (max-width: 900px) {
    .form {
        position: fixed;
        top: 60%;
        left: 40%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 20;
    }
    .form.active {
        transform: translate(-25%, -60%) scale(1);
    }
    #login-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}