/* Pop up form */
.form {
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -65%) scale(0);
    transition: 500ms ease-in-out;
    max-width: 80%;
    z-index: 20;
}
.form.active {
    transform: translate(-25%, -65%) scale(1);
}

#login-form {
    border: 1px solid black;
    width: 70vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 10px;
    background-color: #202027;
    position: relative;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .6rem;
}
.inputfield {
    outline: none;
    background: none;
    border: 1px solid rgb(23, 98, 167, .3);
    font-size: 1rem;
    color: inherit;
    padding: .53em;
    border-radius: 5px;
}
.inputfield:focus {
    border-color: #1762A7;
}

#btn {
    color: white;
    text-decoration: none;
    background-color: #1762A7;
    padding: .75rem 1.5rem;  
    border-radius: .6rem;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
}
@media (max-width: 900px) {
    .form {
        flex-direction: column;
        justify-content: center;
    }
    #login-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}
/* Pop up form end */

/*  Close button */
.form .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 20px;
    right: 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}