* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-height: 700px;
}
.box-contente {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
}

.container h1 {
    margin-bottom: 10px;
    text-align: center;
}
.container .tools {
    background-color: #202027;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 400px;
    width: auto;
    padding:40px;
    border-radius: 10px;
    margin-right: 50px;
    border: 1px solid black;
}
/* Dash-board Tools  */
div > .fonc {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
div > .fonc button {
    height: 36px;
    width: 200px;
    background-color: #BC3A80;
    outline: none;
    border: none;
    cursor: pointer;
}

.tools .btn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 5000;
}
.tools .btn.blue {
    background-color: #1A62A7;
}
.tools h2 {
    font-size: 36px;
}
.tools .fonc .red {
    width: 36px;
    height: 36px;
    color: #BC3A80;
}
.tools img {
    width: 36px;
    height: 36px;
}
/* Dash-board Tools end */

#register-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    min-height: 400px;
    background-color: #202027;
    border-radius: 5px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}
#register-form .form-content {
    display: flex;
    gap: 100px;
}

/* lLeft part  */

#register-form .form-content .input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}
/* ::-webkit-calendar-picker-indicator {
    color: #BC3A80;
    
} */
#register-form .form-content .input-group label {
    margin-bottom: .6rem;
}
#register-form .form-content .input-group label span {
    color: #BC3A80;
    margin-right: 3px;
}
#register-form .form-content h3 span {
    color: #BC3A80;
    margin-right: 3px;
}

#register-form .form-content .input-group .inputfield:focus {
    border-color: #1762A7;
}
#register-form .form-content .input-group .inputfield {
    outline: none;
    background: none;
    border: 1px solid  rgb(23, 98, 167, .3);
    font-size: 1rem;
    color: inherit;
    padding: .53em;
    border-radius: 5px;
}

/* Left Part end */

/* Right part  */
#radio-btn {
    display: flex;
    flex-direction: column;
}

.form-right {
    display: flex;
    flex-direction: column;
}
.form-right h3 {
    margin-top: 30px;
    font-size: 1.2rem;
    margin-bottom: .6rem;
}
/* Radio Buttons  */
.lable {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.radio_input {
    display: none;
}

.radio_Radio {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid  rgb(23, 98, 167, .3);
    border-radius: 50%;
    padding: 2px;

}
.radio_Radio::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: #1762A7;
    border-radius: 50%;

    transform: scale(0);
    transition: 0.15s;
}

.radio_input:checked + .radio_Radio::after {
    transform: scale(1);
}

/* Radio Buttons end */
/* Button and message */
.input-group #btn {
    color: inherit;
    background-color: #1762A7;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border-radius: .6rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 400px;
    margin-bottom: .7rem;
}

.review a {
    font-size: 15px;
    text-decoration: underline;
    color: #0066CC;
    letter-spacing: .1em;
}

/* Button and message End*/


/* Right part end */
.footer p {
    background-color: #202027;
    height: 100px;
    position: sticky;
    top: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 600px) and (max-width: 900px){
    #register-form {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); 
        max-width: 100%;
    }
    #register-form .form-content .input-group {
        padding: 10px;
    }
}


