@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Variables */
:root {
    --menu_color: #DDE2FF;
    --icon_color: #DFE0EB;
    --main_title_color:#9FA2B4;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
}
/* Variable end */


.main-header {
    margin-left: 30px;
    margin-right: 30px;
}

.main-header .main-nav button{
    color: var(--menu_color);
}

.main-contents {
    background-color: var(--icon_color);
    color: #202027;
    display: flex;
    flex-direction: column;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
/* Body */
.main-contents .main {
    flex: 1;
    display: flex;
}

/* Menu */
.main-contents .main .menu {
    flex-shrink: 0;
    background-color: #202027;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
/* Menu title */
.menu .menu_title {
    font-size: 22px;
    color: var(--menu_color);
    text-align: center;
    line-height: 70px;
    background: #1761a783;
}
.menu ul a {
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    color: var(--menu_color);
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: .4s;
}
.menu ul li {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 2555, 255, .1);
    border-bottom: 1px solid black;
    cursor: pointer;
}
.menu ul li:hover a {
    padding-left: 30px;
}
.menu ul .active {
    background-color: rgba(102, 102, 102, 0.26);
}
.menu ul li i img {
    height: 36px;
    width: auto;
}
/* Menu End */

/* Contents */
.main-contents .main .center_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main .center_box .title {
    text-align: center;
    margin: 0;
    padding: 8px;
    font-size: 36px;
    font-weight: bold;
    font-family: poppin;
}

/* Contents box */
section .box_container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
}


.main-contents .main .center_box .box_container .stat_box {
    width: 450px;
    border-radius: .5rem;
    background-color: white;
    overflow: hidden;
    margin: 10px;
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.main-contents .main .center_box .box_container .stat_box h5 {
    margin-bottom: 1em;
    font-size: 16px;
    color: var(--main_title_color);
}


/* Footer */
.footer p {
    font-family: poppin;
    background-color: #202027;
    color: var(--menu_color);
    height: 100px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    bottom: 0;
}
/* Footer End  */

/* Resposiveness */
