@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
    /* font-size: 76.5%; */
}

body {
    padding: 0;
    margin: 0;
    background-color: #dfe0ebb0;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: #202027;
    min-height: 100vh;
}
button a {
    text-decoration: none;
    color: #DDE2FF;
}
button a:hover {
    color: #adadad;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

/* Start of the Home contents */

/* logo start nav right */
.logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}
.logo img{
    height: 60px;
    height: 60px;
}

.logo-text {
    font-family: poppin;
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}
.logo-text .a {
    font-size: 30px;
    color: #1762A7;
    color: #BC3A80;
    text-transform: uppercase;
}
.logo-text .b {
    font-size: 30px;
    color: #1762A7;
    text-transform: uppercase;
}
/* logo start end */

/* Nav left part */
.main-nav button {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    padding: 1rem;
    background-color: #202027;
    color: #DDE2FF;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.main-nav button a {
    text-decoration: none;
}
.main-nav button:hover {
    color: #adadad;
}

/* Nav left part end */

/* Nav-bar */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
/* End nav */

/* Boddy */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

/* Home contents */
/* Home title */
.title {
    font-weight: 500;
    font-family: poppin;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.button {
    color: #2F303A;
    background-color: #EEF6FB;
    padding: .75rem 1.5rem;  
    border-radius: .6rem;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px #20202755;
}
.button:hover {
    background-color: #caebffd0;
}
.button:focus {
    background-color: #CAEBFF;
}
/* .home-content a:hover {
    color: #adadad;
} */

/* Link massege  */

/* Home section */
.home-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    margin-top: 100px;
}
.home-content {
    text-align: center;
}

/* Cercle */
.circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(188, 58, 127, 0.418);
    z-index: -1;
    bottom: 5vw;
    left: 5vw;
}
.circle-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(23, 97, 167, 0.438);
    top: 15vw;
    left: 25vw;
    z-index: -1;

}

.circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0vw; 
    right: 0vw;
    z-index: -1;

}
.circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(23, 97, 167, 0.438);
}


/* Circles end */

